name: Dev CI/CD Pipeline

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build CRA app
        run: npm run build

      - name: Copy build folder to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.EC2_DEV_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_DEV_KEY }}
          port: 22
          source: "build/*"
          target: "/var/www/html/bluecat"
          strip_components: 1
